$special_font: 'PT Sans', sans-serif;
$title_font: 'Jura', sans-serif;
$main_dark_color: #A50104;
$main_medium_color: #A50104;
$main_light_color: #595959;

body {
	background: white;
}

.landing {
	text-align: center;
	font-family: $special_font;

	width: 100%;
	height: 100%;
	background: url('http://dailybruin.com/images/2016/05/AYU_0527.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.landing-content {
		padding: 0.5em;
		padding-top: 20%;
		background-color: rgba(0,0,0,0.5);
		height: 100%;
		color: white;

		.description {
			font-size: 1.7em;
		}
		.byline {
			font-size: 1.5em;
			font-family: $title_font;
			font-weight: 600;
		}
	}
	.title {
		font-size: 10vh;
		font-family: $title_font;
		font-weight: 600;
	}

    button {
    	img {
    		height: 60px;
    		width: 60px;
    	}
		border: none;
		outline: none;
		margin-top: 10%;
    }
}

.content {
  margin: auto;
  margin-top: 2em;
  max-width: 60%;
}

figure {
	img {
		width: 100%;
	}
	figcaption {
		font-size: 0.8em;
	}
}

blockquote{
	padding-left: 15px;
	float: left;
	max-width: 500px;
	margin: 2rem 4rem;
	margin-left: -100px;
	border-left: 4px solid $main_light_color;
	font-size: 1.5em;
	font-family: $special_font;

	aside {
		font-size: 1rem;
		text-align: right;
	}
}

blockquote.right {
	border-left: none;
	border-right: 4px solid $main_light_color;
}

.subhead {
	font-weight: 600;
	font-family: $special_font;
	color: $main_medium_color;
}

.first-letter {
  float: left;
  font-weight: 600;
  font-size: 60px;
  line-height: 40px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 10px;
  font-family: $special_font;
  color: $main_medium_color;
}

blockquote.right{
    float: right;
    margin: 5%;
    margin-right: -100px;
}

figure {
	margin-bottom: 3em;
	.caption{
		font-size: 0.9rem;
		float: right;
	}
}

footer {
	font-size: 0.8rem;
	text-align: center;
    font-family: $special_font;
    color: grey;
    margin: 1rem;
}

// MOBILE SCREENS
@media only screen and (max-width: 65em) {
	.content {
		max-width: 90%;
	}
	blockquote {
	  float: none;
	  max-width: 100%;
	  margin: 1em auto 1em auto;
	}

	blockquote.right {
		float: none;
	    max-width: 100%;
	    margin: 1em auto 1em auto;
	}
}

// SVG STYLES

@mixin robot_hilight() {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

@mixin robot_hilight_hover($color) {
	stroke: $color;
	stroke-width: 3px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}


@mixin thin_robot_hilight_hover($color) {
	stroke: $color;
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
}

.leftArm, .rightArm, .body, .legs, .kinect {
	@include robot_hilight;
}

#tooltip-span {
    display:block;
    position:fixed;
    overflow:hidden;
    background: black;
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1%;
    color: white;
}

// g:hover [class^='arms'] {
// 	@include robot_hilight_hover(#19f6e8);
// }

// g:hover {
// 	.arms {
// 		@include robot_hilight_hover(#19f6e8);
// 	}
// 	.body {
// 		@include robot_hilight_hover(yellow);
// 	}
// 	.legs {
// 		@include robot_hilight_hover(blue);
// 	}
// 	.kinect {
// 		@include thin_robot_hilight_hover(pink);
// 	}
// }

// OVERWRITE FOUNDATION TOOLTIP STYLES

// .tooltip {
// 	background-color: red;
// }
